@import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap");
html {
  scroll-behavior: smooth !important;
  overflow-y: visible !important;
}

body {
  width: 100%;
}

#toolModal form .form-title {
  color: #CE0402;
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 40px;
}
#toolModal form label {
  color: #231F20;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 16px;
}
#toolModal form .input-group {
  margin-bottom: 24px;
}
#toolModal form .input-group .input-group-text {
  background-color: #fff;
  border-right: none;
}
#toolModal form input, #toolModal form select {
  height: 64px;
  border-left: 0;
}
#toolModal form .form-action {
  background-color: #CE0402;
  padding: 10px 0;
}
#toolModal form .form-action button {
  padding: 0;
  margin: 0;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}

@media (min-width: 1319.98px) {
  .container {
    max-width: 1100px !important;
  }
}
@media (min-width: 1419.98px) {
  .container {
    max-width: 1200px !important;
  }
}
@media (min-width: 1519.98px) {
  .container {
    max-width: 1300px !important;
  }
}
@media (min-width: 1619.98px) {
  .container {
    max-width: 1400px !important;
  }
}
@media (min-width: 1719.98px) {
  .container {
    max-width: 1500px !important;
  }
}
@media (min-width: 1819.98px) {
  .container {
    max-width: 1600px !important;
  }
}
@media (min-width: 1919.98px) {
  .container {
    max-width: 1544px !important;
  }
}
html {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button:focus, button:active, button.active, input:focus, input:active, input.active, select:focus, select:active, select.active {
  outline: unset !important;
  box-shadow: unset !important;
}

@font-face {
  font-family: "Toyota-Type";
  src: url("../font/ToyotaType-Light.ttf") format("truetype"), url("../font/ToyotaType-LightIt.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Toyota-Type";
  src: url("../font/ToyotaType-Book.ttf") format("truetype"), url("../font/ToyotaType-BookIt.ttf") format("truetype");
  font-weight: 350;
}
@font-face {
  font-family: "Toyota-Type";
  src: url("../font/ToyotaType-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Toyota-Type";
  src: url("../font/ToyotaType-Semibold.ttf") format("truetype"), url("../font/ToyotaType-SemiboldIt.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Toyota-Type";
  src: url("../font/ToyotaType-Bold.ttf") format("truetype"), url("../font/ToyotaType-BoldIt.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Toyota-Type";
  src: url("../font/ToyotaType-Black.ttf") format("truetype"), url("../font/ToyotaType-BlackIt.ttf") format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: "Toyota-Type";
  src: url("../font/ToyotaType-Italic.ttf") format("truetype");
  font-style: italic;
}
* {
  font-family: "Toyota-Type";
}

a {
  color: #fff !important;
  text-decoration: none !important;
}

#header .navbar {
  margin-top: 40px;
  padding: 0;
}
#header .navbar .navbar-toggler {
  border: none;
  padding-right: 0;
}
#header .navbar .navbar-nav .nav-item:not(:last-child) {
  padding-right: 120px;
}
#header .navbar .navbar-nav .nav-item .nav-link {
  font-weight: 400;
  font-size: 18px;
  transition: none;
}
#header .navbar .navbar-nav .nav-item .nav-link:hover {
  border-bottom: 3px solid #CE0402;
}

@media screen and (max-width: 1366.98px) and (max-height: 768.98px) {
  #header .navbar {
    margin-top: 20px;
    padding: 0;
  }
  #header .navbar .navbar-brand img {
    width: 150px;
  }
  #header .navbar .navbar-nav .nav-item:not(:last-child) {
    padding-right: 70px;
  }
  #header .navbar .navbar-nav .nav-item .nav-link {
    font-weight: 100;
    font-size: 10px;
    letter-spacing: 1px;
    transition: none;
  }
  #header .navbar .navbar-nav .nav-item .nav-link:hover {
    border-bottom: 3px solid #CE0402;
  }
}
@media screen and (max-width: 992.98px) {
  #header .navbar .navbar-nav {
    align-items: flex-end;
  }
  #header .navbar .navbar-nav .nav-item:not(:last-child) {
    padding-right: 0;
  }
}
@media screen and (max-width: 480.98px) {
  #header .navbar .navbar-brand img {
    width: 110px;
  }
  #header .navbar .navbar-nav .nav-item .nav-link {
    font-weight: 100;
    font-size: 16px;
  }
  #header .navbar .navbar-nav .nav-item .nav-link:hover {
    border-bottom: 3px solid #CE0402;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2022-6-27 6:48:40
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation kenburns-top
 * ----------------------------------------
 */
@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2022-6-27 6:59:45
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation kenburns-bottom
 * ----------------------------------------
 */
@-webkit-keyframes kenburns-bottom {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 84%;
    transform-origin: 50% 84%;
  }
  100% {
    -webkit-transform: scale(1.05) translateY(15px);
    transform: scale(1.05) translateY(15px);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
  }
}
@keyframes kenburns-bottom {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 84%;
    transform-origin: 50% 84%;
  }
  100% {
    -webkit-transform: scale(1.05) translateY(15px);
    transform: scale(1.05) translateY(15px);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
  }
}
.kenburns-top {
  -webkit-animation: kenburns-top 15000ms linear reverse;
  animation: kenburns-top 15000ms linear reverse;
}

.kenburns-bottom {
  -webkit-animation: kenburns-bottom 15000ms linear reverse;
  animation: kenburns-bottom 15000ms linear reverse;
}

#home #header {
  height: 114vh;
  -moz-box-shadow: inset 0 150px 100px -100px #231F20;
  -webkit-box-shadow: inset 0 150px 100px -100px #231F20;
  box-shadow: inset 0 150px 100px -100px #231F20;
  position: relative;
  overflow: hidden;
}
#home #header .banner {
  position: absolute;
  width: 100%;
  height: 120%;
  bottom: -130px;
  z-index: -1;
  filter: brightness(74%);
}
#home #header .title p {
  font-weight: 600;
  font-size: 84px;
  color: #fff;
}
#home #header .description {
  margin-bottom: 20px;
}
#home #header .description p {
  font-weight: 400;
  font-size: 20px;
  color: #fff;
}
#home #header .tool {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1;
  background-color: #231F20;
  display: flex;
  flex-direction: column;
}
#home #header .tool img {
  filter: brightness(60%);
  padding: 15px;
}
#home #header .tool img:hover {
  filter: brightness(100%);
}
#home #header .modal .modal-content .modal-header {
  border: none;
  padding-bottom: 0;
}
#home #introduction {
  padding: 120px 0;
  text-align: center;
}
#home #introduction .title {
  color: #CE0402;
  font-weight: 600;
  font-size: 32px;
}
#home #introduction .description {
  font-weight: 400;
  font-size: 18px;
  margin: 0 170px;
}
#home #introduction .thumb {
  width: 100%;
}
#home #introduction .thumb:hover {
  transform: scale(1.05);
}
#home .week {
  overflow: hidden;
  position: relative;
  padding: 250px 0;
  -moz-box-shadow: inset 0 -35vh 50vh -60px #000;
  -webkit-box-shadow: inset 0 -35vh 50vh -60px #000;
  box-shadow: inset 0 -35vh 50vh -60px #000;
}
#home .week .content .title {
  color: #fff;
  font-weight: 600;
  font-size: 28px;
  text-transform: uppercase;
}
#home .week .content .description {
  color: #fff;
  font-weight: 100;
  font-size: 19px;
  position: relative;
  text-align: justify;
  letter-spacing: 1px;
}
#home .week .content .description .collapse {
  display: none;
}
#home .week .content .description span {
  display: none;
}
#home .week .content .description p {
  display: contents;
  cursor: pointer;
}
#home .week .image .slider .slider-image {
  border: none;
  background: none;
  filter: brightness(60%);
  padding-bottom: 8px;
  display: block;
}
#home .week .image .slider .slider-image img {
  height: 93px;
  width: 140px;
}
#home .week .image .image-main {
  width: 100%;
}
#home .week .modal {
  padding: 0 !important;
}
#home .week .modal .modal-header {
  z-index: 2;
  right: 0;
  position: absolute;
  width: 100%;
  border: none;
  border-radius: unset;
}
#home .week .modal .modal-dialog {
  max-width: 100%;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #000;
}
#home .week .modal .modal-dialog .modal-content {
  height: 100%;
  width: 80%;
  border: none;
  border-radius: unset;
  position: unset;
}
#home .week .modal .modal-dialog .modal-content .carousel {
  position: unset;
  height: 100%;
}
#home .week .modal .modal-dialog .modal-content .carousel .carousel-inner {
  height: 100%;
  background-color: #000;
}
#home .week .modal .modal-dialog .modal-content .carousel .carousel-inner .carousel-item {
  height: 100%;
}
#home .week .modal .modal-dialog .modal-content .carousel .carousel-inner .carousel-item img {
  height: 100%;
  width: 100%;
}
#home .week .modal .modal-dialog .modal-content .carousel .carousel-control-next, #home .week .modal .modal-dialog .modal-content .carousel .carousel-control-prev {
  width: 3%;
}
#home .week:nth-of-type(even) .content {
  padding-right: 98px;
}
#home .week:nth-of-type(odd) .content {
  padding-left: 98px;
}
#home .background-section {
  position: absolute;
  width: 100vw;
  z-index: -1;
  filter: brightness(40%);
  display: block;
  top: 0;
}
#home #monday .image {
  position: relative;
}
#home #monday .image .slider {
  position: absolute;
  background-color: #fff;
  padding: 8px;
  right: -8%;
  bottom: 5%;
}
#home #monday .image .slider .slider-image.show {
  filter: none;
}
#home #monday .image .slider .slider-image.show img {
  padding: 2px;
  background-image: linear-gradient(180deg, #fff, #CE0402);
}
#home #monday .image .slider .slider-image.active {
  filter: none;
}
#home #monday .image .slider .slider-image.active img {
  padding: 2px;
  background-image: linear-gradient(180deg, #fff, #CE0402);
}
#home #monday .image .slider:last-child {
  padding-bottom: 0px;
}
#home #tuesday .image .slider, #home #wednesday .image .slider {
  padding-top: 8px;
}
#home #tuesday .image .slider .slider-image.show, #home #wednesday .image .slider .slider-image.show {
  filter: none;
}
#home #tuesday .image .slider .slider-image.show img, #home #wednesday .image .slider .slider-image.show img {
  padding: 2px;
  background-image: linear-gradient(180deg, transparent, #CE0402);
}
#home #tuesday .image .slider .slider-image.active, #home #wednesday .image .slider .slider-image.active {
  filter: none;
}
#home #tuesday .image .slider .slider-image.active img, #home #wednesday .image .slider .slider-image.active img {
  padding: 2px;
  background-image: linear-gradient(180deg, transparent, #CE0402);
}
#home #thursday .image {
  position: relative;
}
#home #thursday .image .slider {
  position: absolute;
  background-color: #fff;
  padding: 8px;
  left: -10%;
  bottom: -19%;
}
#home #thursday .image .slider .slider-image.show {
  filter: none;
}
#home #thursday .image .slider .slider-image.show img {
  padding: 2px;
  background-image: linear-gradient(180deg, #fff, #CE0402);
}
#home #thursday .image .slider .slider-image.active {
  filter: none;
}
#home #thursday .image .slider .slider-image.active img {
  padding: 2px;
  background-image: linear-gradient(180deg, #fff, #CE0402);
}
#home #thursday .image .slider:last-child {
  padding-bottom: 0px;
}
#home #friday .image {
  position: relative;
}
#home #friday .image .slider {
  position: absolute;
  background-color: #fff;
  padding: 8px;
  right: -10%;
  bottom: -19%;
}
#home #friday .image .slider .slider-image.show {
  filter: none;
}
#home #friday .image .slider .slider-image.show img {
  padding: 2px;
  background-image: linear-gradient(180deg, #fff, #CE0402);
}
#home #friday .image .slider .slider-image.active {
  filter: none;
}
#home #friday .image .slider .slider-image.active img {
  padding: 2px;
  background-image: linear-gradient(180deg, #fff, #CE0402);
}
#home #friday .image .slider:last-child {
  padding-bottom: 0px;
}
#home #saturday .image {
  position: relative;
}
#home #saturday .image .slider {
  position: absolute;
  background-color: #fff;
  padding: 8px;
  left: -10%;
  bottom: -10%;
}
#home #saturday .image .slider .slider-image {
  border: none;
  background: none;
  filter: brightness(60%);
  padding: 0 8px 8px 0px;
  display: block;
}
#home #saturday .image .slider .slider-image.show {
  filter: none;
}
#home #saturday .image .slider .slider-image.show img {
  padding: 2px;
  background-image: linear-gradient(180deg, #fff, #CE0402);
}
#home #saturday .image .slider .slider-image.active {
  filter: none;
}
#home #saturday .image .slider .slider-image.active img {
  padding: 2px;
  background-image: linear-gradient(180deg, #fff, #CE0402);
}
#home #saturday .image .slider:last-child {
  padding: 8px 0 0 8px;
}
#home #footer-banner {
  height: 100vh;
  overflow: hidden;
  position: relative;
}
#home #footer-banner .background {
  position: absolute;
  width: 100%;
  height: 130%;
  bottom: -90px;
  z-index: -1;
}
#home #footer-banner .background.small {
  display: none;
}
#home #footer-banner .link {
  border: 1px solid #CE0402;
  padding: 16px 40px;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 60px;
}
#home #footer-banner .link:hover {
  background-color: #CE0402;
}
#home #footer-banner .logo-section {
  width: 260px;
  margin-bottom: 20px;
  margin-left: 12px;
}
#home #form {
  padding: 120px 0;
}
#home #form form .form {
  padding: 80px 20px 80px 80px;
}
#home #form form .form .form-title {
  color: #CE0402;
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 40px;
  text-transform: uppercase;
}
#home #form form .form label {
  color: #231F20;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 16px;
}
#home #form form .form .input-group {
  margin-bottom: 24px;
}
#home #form form .form .input-group .input-group-text {
  background-color: #fff;
  border-right: none;
}
#home #form form .form .policy {
  margin: 24px 0px 40px 0;
}
#home #form form .form input, #home #form form .form select {
  height: 64px;
  border-left: 0;
}
#home #form form .form .form-action {
  background-color: #CE0402;
  padding: 10px 0;
}
#home #form form .form .form-action button {
  padding: 0;
  margin: 0;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}
#home #form .form-section-image {
  width: 100%;
  height: 100%;
}
#home #footer {
  height: 80px;
  background-color: #231F20;
}
#home #footer span {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
}

@media screen and (min-width: 1920.98px) and (min-height: 900.98px) {
  #home #header .banner {
    bottom: unset;
  }
}
@media screen and (max-width: 1600.98px) and (max-height: 900.98px) {
  #home #header {
    height: 115vh;
  }
  #home #header .description {
    margin-bottom: 0;
  }
  #home .week {
    padding: 120px 0;
  }
  #home .week .content .title {
    font-weight: 600;
    font-size: 22px;
  }
  #home .week .content .description {
    font-size: 16px;
  }
  #home .week .image .slider .slider-image img {
    height: 73px;
    width: 115px;
  }
  #home .week:nth-of-type(even) .content {
    padding-right: 80px;
  }
  #home .week:nth-of-type(odd) .content {
    padding-left: 80px;
  }
  #home .week .modal .modal-dialog .modal-content {
    width: 75%;
  }
  #home #footer-banner .logo-section {
    width: 210px;
    margin-bottom: -24px;
    margin-left: 10px;
  }
}
@media screen and (max-width: 1440.98px) and (max-height: 900.98px) {
  #home #header {
    height: 115vh;
  }
  #home #header .banner {
    bottom: -120px;
  }
  #home #header .description {
    margin-bottom: 0;
  }
  #home #introduction .description {
    font-weight: 400;
    font-size: 18px;
    margin: 0 40px;
  }
  #home .week {
    padding: 155px 0;
  }
  #home .week .content .title {
    font-weight: 600;
    font-size: 20px;
  }
  #home .week .content .description {
    font-size: 14px;
  }
  #home .week .image .slider .slider-image img {
    height: 73px;
    width: 105px;
  }
  #home .week:nth-of-type(even) .content {
    padding-right: 54px;
  }
  #home .week:nth-of-type(odd) .content {
    padding-left: 54px;
  }
  #home .week .modal .modal-dialog .modal-content {
    width: 90%;
  }
  #home #footer-banner .logo-section {
    width: 205px;
    margin-bottom: -24px;
    margin-left: 10px;
  }
}
@media screen and (max-width: 1366.98px) and (max-height: 768.98px) {
  #home #header {
    height: 120vh;
  }
  #home #header .banner {
    bottom: -72px;
  }
  #home #header .title p {
    font-size: 60px;
  }
  #home #header .description {
    margin-bottom: 20px;
  }
  #home #header .description p {
    font-weight: 400;
    font-size: 14px;
  }
  #home #header .description img {
    height: 40px;
  }
  #home #header .tool img {
    padding: 5px;
  }
  #home #introduction .title {
    color: #CE0402;
    font-weight: 600;
    font-size: 26px;
  }
  #home #introduction .description {
    font-weight: 400;
    font-size: 14px;
    margin: 0 40px;
  }
  #home .week {
    padding: 150px 0;
  }
  #home .week .content .title {
    font-weight: 600;
    font-size: 20px;
  }
  #home .week .content .description {
    font-size: 12px;
    font-weight: 100;
  }
  #home .week .image .slider .slider-image img {
    height: 63px;
    width: 95px;
  }
  #home .week:nth-of-type(even) .content {
    padding-right: 44px;
  }
  #home .week:nth-of-type(odd) .content {
    padding-left: 44px;
  }
  #home .week .modal .modal-dialog .modal-content {
    width: 75%;
  }
  #home #footer-banner .logo-section {
    width: 190px;
    margin-bottom: -62px;
    margin-left: 8px;
  }
  #home #form form .form {
    padding: 40px 20px 40px 40px;
  }
  #home #form form .form .form-title {
    font-size: 24px;
    margin-bottom: 30px;
  }
  #home #form form .form label {
    color: #231F20;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 10px;
  }
  #home #form form .form .input-group {
    margin-bottom: 10px;
  }
  #home #form form .form .input-group .input-group-text {
    padding-right: 0;
  }
  #home #form form .form .input-group .input-group-text img {
    width: 18px;
  }
  #home #form form .form .policy {
    font-size: 12px;
  }
  #home #form form .form input, #home #form form .form select {
    height: 44px;
    border-left: 0;
    font-size: 12px;
  }
  #home #form form .form .form-action {
    background-color: #CE0402;
    padding: 10px 0;
  }
  #home #form form .form .form-action button {
    padding: 0;
    margin: 0;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
  }
  #home #footer span {
    font-size: 10px;
    letter-spacing: 1px;
  }
}
@media screen and (max-width: 480.98px) {
  #home #header {
    height: 100vh;
  }
  #home #header .banner {
    width: auto;
    height: 100%;
    left: -45%;
    bottom: unset;
  }
  #home #header .title p {
    font-size: 40px;
  }
  #home #header .tool img {
    padding: 5px;
  }
  #home #header .modal .modal-content .modal-header {
    border: none;
    padding-bottom: 0;
  }
  #home #introduction {
    padding: 40px 0;
  }
  #home .week .image {
    margin-top: 40px;
  }
  #home .week .image .slider {
    margin-top: 40px;
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
  }
  #home .week .image .slider .slider-image {
    margin-right: 8px;
  }
  #home .week .image .slider .slider-image img {
    width: 130px;
    height: auto;
  }
  #home .week:nth-of-type(even) .content {
    padding-right: 0;
  }
  #home .week:nth-of-type(odd) .content {
    padding-left: 0;
  }
  #home .week .modal .modal-dialog .modal-content {
    width: 90%;
  }
  #home .week .modal .modal-dialog .modal-content .carousel .carousel-inner {
    display: flex;
    align-items: center;
  }
  #home .week .modal .modal-dialog .modal-content .carousel .carousel-inner .carousel-item {
    height: unset;
  }
  #home .background-section {
    position: absolute;
    width: auto;
    height: 100%;
    left: -120%;
  }
  #home #monday, #home #tuesday, #home #wednesday, #home #thursday, #home #friday, #home #saturday {
    padding: 64px 0;
  }
  #home #monday .image .slider, #home #tuesday .image .slider, #home #wednesday .image .slider, #home #thursday .image .slider, #home #friday .image .slider, #home #saturday .image .slider {
    position: relative;
    background: none;
    padding: 0;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
  }
  #home #tuesday .col-md-5, #home #thursday .col-md-5, #home #saturday .col-md-5 {
    order: -1;
  }
  #home #saturday .image .slider .slider-image {
    padding: 0 0 8px 0;
  }
  #home #footer-banner {
    height: 60vh;
  }
  #home #footer-banner .link {
    font-size: 12px;
    margin-bottom: 30px;
  }
  #home #footer-banner .background {
    display: none;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  #home #footer-banner .background.small {
    display: block;
  }
  #home #form {
    padding: 40px 0 0 0;
  }
  #home #form .row {
    background-color: unset !important;
  }
  #home #form form .form {
    padding: 0 20px;
  }
  #home #form .form-section-image {
    margin-top: 40px;
    height: unset;
  }
  #home #form .col-lg-5 {
    padding: 0;
  }
  #home .br {
    display: none;
  }
}
@media screen and (max-width: 444.98px) {
  #home .week .image .slider .slider-image img {
    width: 120px;
    height: auto;
  }
}
@media screen and (max-width: 414.98px) {
  #home .week .image .slider .slider-image img {
    width: 115px;
    height: auto;
  }
}
@media screen and (max-width: 400.98px) {
  #home .week .image .slider .slider-image img {
    width: 105px;
    height: auto;
  }
}
@media screen and (max-width: 375.98px) {
  #home .week .image .slider .slider-image img {
    width: 95px;
    height: auto;
  }
}

/*# sourceMappingURL=style.css.map */
