@import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap");
html {
  scroll-behavior: smooth !important;
  overflow-y: visible !important;
}

#toolModal form .form-title {
  color: #CE0402;
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 40px;
}
#toolModal form label {
  color: #231F20;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 16px;
}
#toolModal form .input-group {
  margin-bottom: 24px;
}
#toolModal form .input-group .input-group-text {
  background-color: #fff;
  border-right: none;
}
#toolModal form input, #toolModal form select {
  height: 64px;
  border-left: 0;
}
#toolModal form .form-action {
  background-color: #CE0402;
  padding: 10px 0;
}
#toolModal form .form-action button {
  padding: 0;
  margin: 0;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}

@media (min-width: 1319.98px) {
  .container {
    max-width: 1100px !important;
  }
}
@media (min-width: 1419.98px) {
  .container {
    max-width: 1200px !important;
  }
}
@media (min-width: 1519.98px) {
  .container {
    max-width: 1300px !important;
  }
}
@media (min-width: 1619.98px) {
  .container {
    max-width: 1400px !important;
  }
}
@media (min-width: 1719.98px) {
  .container {
    max-width: 1500px !important;
  }
}
@media (min-width: 1819.98px) {
  .container {
    max-width: 1600px !important;
  }
}
@media (min-width: 1919.98px) {
  .container {
    max-width: 1700px !important;
  }
}
html {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button:focus, button:active, button.active, input:focus, input:active, input.active, select:focus, select:active, select.active {
  outline: unset !important;
  box-shadow: unset !important;
}

@font-face {
  font-family: "Toyota-Type";
  src: url("../../font/ToyotaType-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Toyota-Type";
  src: url("../../font/ToyotaType-Black.ttf") format("truetype"), url("../../font/ToyotaType-BlackIt.ttf") format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: "Toyota-Type";
  src: url("../../font/ToyotaType-Bold.ttf") format("truetype"), url("../../font/ToyotaType-BoldIt.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Toyota-Type";
  src: url("../../font/ToyotaType-Book.ttf") format("truetype"), url("../../font/ToyotaType-BookIt.ttf") format("truetype");
}
@font-face {
  font-family: "Toyota-Type";
  src: url("../../font/ToyotaType-Italic.ttf") format("truetype");
  font-style: italic;
}
@font-face {
  font-family: "Toyota-Type";
  src: url("../../font/ToyotaType-Light.ttf") format("truetype"), url("../../font/ToyotaType-LightIt.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Toyota-Type";
  src: url("../../font/ToyotaType-Semibold.ttf") format("truetype"), url("../../font/ToyotaType-SemiboldIt.ttf") format("truetype");
  font-weight: 600;
}
* {
  font-family: "Toyota-Type";
}

a {
  color: #fff !important;
}

#header .navbar {
  margin-top: 40px;
  padding: 0;
}
#header .navbar .navbar-nav .nav-item:not(:last-child) {
  padding-right: 120px;
}
#header .navbar .navbar-nav .nav-item .nav-link {
  font-weight: 400;
  font-size: 18px;
  transition: none;
}
#header .navbar .navbar-nav .nav-item .nav-link:hover {
  border-bottom: 3px solid #CE0402;
}

.breadcrumb .breadcrumb-item {
  margin-bottom: 40px;
}
.breadcrumb .breadcrumb-item a {
  color: #231F20;
  font-size: 14px;
  font-weight: 400;
}
.breadcrumb .breadcrumb-item img {
  width: 16px;
}
.breadcrumb .breadcrumb-item.name {
  opacity: 0.7;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-6-27 6:48:40
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation kenburns-top
 * ----------------------------------------
 */
@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2022-6-27 6:59:45
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation kenburns-bottom
 * ----------------------------------------
 */
@-webkit-keyframes kenburns-bottom {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 84%;
    transform-origin: 50% 84%;
  }
  100% {
    -webkit-transform: scale(1.05) translateY(15px);
    transform: scale(1.05) translateY(15px);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
  }
}
@keyframes kenburns-bottom {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 84%;
    transform-origin: 50% 84%;
  }
  100% {
    -webkit-transform: scale(1.05) translateY(15px);
    transform: scale(1.05) translateY(15px);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
  }
}
.kenburns-top {
  -webkit-animation: kenburns-top 15000ms linear reverse;
  animation: kenburns-top 15000ms linear reverse;
}

.kenburns-bottom {
  -webkit-animation: kenburns-bottom 15000ms linear reverse;
  animation: kenburns-bottom 15000ms linear reverse;
}

#home #header {
  height: 114vh;
  -moz-box-shadow: inset 0 150px 100px -100px #231F20;
  -webkit-box-shadow: inset 0 150px 100px -100px #231F20;
  box-shadow: inset 0 150px 100px -100px #231F20;
  position: relative;
  overflow: hidden;
}
#home #header .banner {
  position: absolute;
  width: 100%;
  bottom: -130px;
  z-index: -1;
  filter: brightness(70%);
}
#home #header .title p {
  font-weight: 600;
  font-size: 84px;
  color: #fff;
}
#home #header .description {
  margin-bottom: 40px;
}
#home #header .description p {
  font-weight: 400;
  font-size: 20px;
  color: #fff;
}
#home #header .tool {
  position: absolute;
  bottom: 143px;
  right: 0;
  background-color: #231F20;
}
#home #header .tool img {
  filter: brightness(60%);
  padding: 15px;
}
#home #header .tool img:hover {
  filter: brightness(100%);
}
#home #introduction {
  padding: 120px 0;
  text-align: center;
}
#home #introduction .title {
  color: #CE0402;
  font-weight: 600;
  font-size: 32px;
}
#home #introduction .description {
  font-weight: 400;
  font-size: 18px;
  margin: 0 170px;
}
#home #introduction .thumb {
  width: 100%;
}
#home #introduction .thumb:hover {
  transform: scale(1.05);
}
#home .week {
  overflow: hidden;
  position: relative;
  padding: 250px 0;
  -moz-box-shadow: inset 0 -35vh 50vh -60px #000;
  -webkit-box-shadow: inset 0 -35vh 50vh -60px #000;
  box-shadow: inset 0 -35vh 50vh -60px #000;
}
#home .week .content {
  padding: 0 100px;
}
#home .week .content .title {
  color: #fff;
  font-weight: 600;
  font-size: 30px;
  text-transform: uppercase;
}
#home .week .content .description {
  color: #fff;
  font-weight: 300;
  font-size: 20px;
  position: relative;
  text-align: justify;
}
#home .week .content .description span {
  display: none;
}
#home .week .content .description p {
  display: contents;
  cursor: pointer;
}
#home .week .image .image-main {
  width: 100%;
}
#home .week .modal {
  padding: 0 !important;
}
#home .week .modal .modal-header {
  z-index: 2;
  right: 0;
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  border: none;
  border-radius: unset;
}
#home .week .modal .modal-dialog {
  max-width: 100%;
  height: 100vh;
  margin: 0;
}
#home .week .modal .modal-dialog .modal-content {
  height: 100%;
  border: none;
  border-radius: unset;
}
#home .week .modal .modal-dialog .modal-content .carousel {
  height: 100%;
}
#home .week .modal .modal-dialog .modal-content .carousel .carousel-inner {
  height: 100%;
}
#home .week .modal .modal-dialog .modal-content .carousel .carousel-inner .carousel-item {
  height: 100%;
}
#home .week .modal .modal-dialog .modal-content .carousel .carousel-inner .carousel-item img {
  height: 135%;
  bottom: -150px;
  position: absolute;
}
#home .week .modal .modal-dialog .modal-content .carousel .carousel-control-next, #home .week .modal .modal-dialog .modal-content .carousel .carousel-control-prev {
  width: 3%;
}
#home .background-section {
  position: absolute;
  width: 100%;
  z-index: -1;
  filter: brightness(60%);
  display: block;
  top: 0;
}
#home #monday-carousel img, #home #tuesday-carousel img, #home #wednesday-carousel img, #home #thursday-carousel img, #home #friday-carousel img, #home #saturday-carousel img, #home #sunday-carousel img {
  filter: brightness(80%);
}
#home #monday .image {
  position: relative;
}
#home #monday .image .slider {
  position: absolute;
  background-color: #fff;
  padding: 8px;
  right: -10%;
  bottom: 2%;
}
#home #monday .image .slider .slider-image {
  border: none;
  background: none;
  filter: brightness(60%);
  padding-bottom: 8px;
  display: block;
}
#home #monday .image .slider .slider-image img {
  width: 140px;
  height: 90px;
}
#home #monday .image .slider .slider-image.active {
  filter: none;
}
#home #monday .image .slider .slider-image.active img {
  padding: 2px;
  background-image: linear-gradient(180deg, #fff, #CE0402);
}
#home #monday .image .slider:last-child {
  padding-bottom: 0px;
}
#home #tuesday .image .slider, #home #wednesday .image .slider {
  padding-top: 10px;
  right: -10%;
  bottom: 2%;
}
#home #tuesday .image .slider .slider-image, #home #wednesday .image .slider .slider-image {
  border: none;
  background: none;
  filter: brightness(60%);
  padding-bottom: 8px;
  display: block;
}
#home #tuesday .image .slider .slider-image img, #home #wednesday .image .slider .slider-image img {
  width: 122px;
  height: 90px;
}
#home #tuesday .image .slider .slider-image.active, #home #wednesday .image .slider .slider-image.active {
  filter: none;
}
#home #tuesday .image .slider .slider-image.active img, #home #wednesday .image .slider .slider-image.active img {
  padding: 2px;
  background-image: linear-gradient(180deg, transparent, #CE0402);
}
#home #thursday .image {
  position: relative;
}
#home #thursday .image .slider {
  position: absolute;
  background-color: #fff;
  padding: 8px;
  left: -10%;
  bottom: -20%;
}
#home #thursday .image .slider .slider-image {
  border: none;
  background: none;
  filter: brightness(60%);
  padding-bottom: 8px;
  display: block;
}
#home #thursday .image .slider .slider-image img {
  width: 140px;
  height: 90px;
}
#home #thursday .image .slider .slider-image.active {
  filter: none;
}
#home #thursday .image .slider .slider-image.active img {
  padding: 2px;
  background-image: linear-gradient(180deg, #fff, #CE0402);
}
#home #thursday .image .slider:last-child {
  padding-bottom: 0px;
}
#home #friday .image {
  position: relative;
}
#home #friday .image .slider {
  position: absolute;
  background-color: #fff;
  padding: 8px;
  right: -10%;
  bottom: -20%;
}
#home #friday .image .slider .slider-image {
  border: none;
  background: none;
  filter: brightness(60%);
  padding-bottom: 8px;
  display: block;
}
#home #friday .image .slider .slider-image img {
  width: 140px;
  height: 90px;
}
#home #friday .image .slider .slider-image.active {
  filter: none;
}
#home #friday .image .slider .slider-image.active img {
  padding: 2px;
  background-image: linear-gradient(180deg, #fff, #CE0402);
}
#home #friday .image .slider:last-child {
  padding-bottom: 0px;
}
#home #saturday .image {
  position: relative;
}
#home #saturday .image .slider {
  position: absolute;
  background-color: #fff;
  padding: 8px;
  left: -10%;
  bottom: -10%;
}
#home #saturday .image .slider .slider-image {
  border: none;
  background: none;
  filter: brightness(60%);
  padding: 0 8px 8px 0px;
  display: block;
}
#home #saturday .image .slider .slider-image img {
  width: 122px;
  height: 90px;
}
#home #saturday .image .slider .slider-image.active {
  filter: none;
}
#home #saturday .image .slider .slider-image.active img {
  padding: 2px;
  background-image: linear-gradient(180deg, #fff, #CE0402);
}
#home #saturday .image .slider:last-child {
  padding: 8px 0 0 8px;
}
#home #sunday .image {
  position: relative;
}
#home #sunday .image .slider {
  position: absolute;
  background-color: #fff;
  padding: 8px;
  left: -10%;
  bottom: 1.5%;
}
#home #sunday .image .slider .slider-image {
  border: none;
  background: none;
  filter: brightness(60%);
  padding-bottom: 8px;
  display: block;
}
#home #sunday .image .slider .slider-image img {
  width: 140px;
  height: 90px;
}
#home #sunday .image .slider .slider-image.active {
  filter: none;
}
#home #sunday .image .slider .slider-image.active img {
  padding: 2px;
  background-image: linear-gradient(180deg, #fff, #CE0402);
}
#home #sunday .image .slider:last-child {
  padding-bottom: 0px;
}
#home #footer-banner {
  height: 100vh;
  overflow: hidden;
  position: relative;
}
#home #footer-banner .background {
  position: absolute;
  width: 100%;
  height: 130%;
  bottom: -90px;
  z-index: -1;
}
#home #footer-banner .link {
  border: 1px solid #CE0402;
  padding: 16px 40px;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}
#home #footer-banner .link:hover {
  background-color: #CE0402;
}
#home #footer-banner .logo-section {
  width: 285px;
  margin-bottom: 50px;
  margin-left: 14px;
}
#home #form form .form-title {
  color: #CE0402;
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 40px;
}
#home #form form label {
  color: #231F20;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 16px;
}
#home #form form .input-group {
  margin-bottom: 24px;
}
#home #form form .input-group .input-group-text {
  background-color: #fff;
  border-right: none;
}
#home #form form input, #home #form form select {
  height: 64px;
  border-left: 0;
}
#home #form form .form-action {
  background-color: #CE0402;
  padding: 10px 0;
}
#home #form form .form-action button {
  padding: 0;
  margin: 0;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}
#home #footer {
  height: 80px;
  background-color: #231F20;
}
#home #footer span {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
}

@media (max-height: 768.98px) {
  #home #header .banner {
    height: 135%;
    bottom: -225px;
  }
}
@media (max-width: 1919.98px) {
  #home #header .banner {
    height: 120%;
    bottom: -150px;
  }
  #home .week .content {
    padding: 0 50px;
  }
  #home #monday .image .slider {
    right: -10%;
    bottom: 3%;
  }
  #home #monday .image .slider .slider-image img {
    width: 115px;
    height: 70px;
  }
  #home #tuesday .image .slider .slider-image img, #home #wednesday .image .slider .slider-image img {
    width: 100px;
    height: 75px;
  }
  #home #thursday .image .slider {
    left: 0%;
    bottom: -20%;
  }
  #home #thursday .image .slider .slider-image img {
    width: 110px;
    height: 70px;
  }
  #home #friday .image .slider .slider-image img {
    width: 110px;
    height: 70px;
  }
  #home #saturday .image .slider .slider-image img {
    width: 100px;
    height: 70px;
  }
  #home #footer-banner .logo-section {
    width: 240px;
    margin-bottom: 15px;
    margin-left: 12px;
  }
}
@media (max-width: 1399.98px) {
  #home #header .banner {
    height: 110%;
    bottom: -80px;
  }
  #home #introduction .description {
    margin: 0;
  }
  #home .week .content .title {
    font-size: 22px;
  }
  #home .week .content .description {
    font-size: 18px;
  }
  #home #monday .image .slider {
    right: -10%;
    bottom: 2%;
  }
  #home #monday .image .slider .slider-image img {
    width: 90px;
    height: 60px;
  }
  #home #tuesday .image .slider .slider-image img, #home #wednesday .image .slider .slider-image img {
    width: 85px;
    height: 60px;
  }
  #home #thursday .image .slider {
    bottom: -22%;
  }
  #home #thursday .image .slider .slider-image img {
    width: 100px;
    height: 65px;
  }
  #home #saturday .image .slider .slider-image img {
    width: 85px;
    height: 60px;
  }
  #home .background-section {
    height: 110%;
    bottom: 0;
  }
  #home #footer-banner .background {
    bottom: 0;
    height: 100%;
  }
  #home #footer-banner .logo-section {
    width: 195px;
    margin-bottom: -27px;
    margin-left: 10px;
  }
}
@media (max-width: 1199.98px) {
  #home #header .banner {
    height: 110%;
    bottom: -80px;
  }
}
@media (max-height: 768.98px) {
  #home #header .banner {
    height: 135%;
    bottom: -225px;
  }
}

/*# sourceMappingURL=style.css.map */
