@import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap");
#header .banner {
  position: absolute;
  /* background-position: center; */
  width: 100%;
  height: 1080px;
  z-index: -1;
  filter: brightness(80%);
}

html {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Toyota-Type";
  src: url("../../font/ToyotaType-Regular.tff") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Toyota-Type";
  src: url("../../font/ToyotaType-Black.ttf") format("truetype"), url("../../font/ToyotaType-BlackIt.tff") format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: "Toyota-Type";
  src: url("../../font/ToyotaType-Bold.tff") format("truetype"), url("../../font/ToyotaType-BoldIt.tff") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Toyota-Type";
  src: url("../../font/ToyotaType-Book.tff") format("truetype"), url("../../font/ToyotaType-BookIt.tff") format("truetype");
}
@font-face {
  font-family: "Toyota-Type";
  src: url("../../font/ToyotaType-Italic.tff") format("truetype");
  font-style: italic;
}
@font-face {
  font-family: "Toyota-Type";
  src: url("../../font/ToyotaType-Light.tff") format("truetype"), url("../../font/ToyotaType-LightIt.tff") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Toyota-Type";
  src: url("../../font/ToyotaType-Semibold.tff") format("truetype"), url("../../font/ToyotaType-SemiboldIt.tff") format("truetype");
  font-weight: 600;
}
* {
  font-family: "Toyota-Type";
  color: #fff;
}

a {
  color: #fff !important;
}

.breadcrumb .breadcrumb-item {
  margin-bottom: 40px;
}
.breadcrumb .breadcrumb-item a {
  color: #0C1323;
  font-size: 14px;
  font-weight: 400;
}
.breadcrumb .breadcrumb-item img {
  width: 16px;
}
.breadcrumb .breadcrumb-item.name {
  opacity: 0.7;
}

#home #header {
  background-size: cover;
  height: 100vh;
  -moz-box-shadow: inset 0 150px 100px -100px #0C1323;
  -webkit-box-shadow: inset 0 150px 100px -100px #0C1323;
  box-shadow: inset 0 150px 100px -100px #0C1323;
  position: relative;
}
#home #header .tool {
  position: absolute;
  bottom: 100px;
  right: 0;
  background-color: #231F20;
}
#home #header .tool img {
  padding: 10px;
}
#home .slider {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 480px;
  margin-top: 80px;
}
#home #ss {
  margin-top: 120px;
}
#home #ss .ss__content {
  margin-top: 72px;
}
#home #ss .ss__content .ss__item {
  padding: 8px 8px 60px 8px;
  margin-bottom: 40px;
}
#home #ss .ss__content .ss__item .ss__card {
  position: relative;
}
#home #ss .ss__content .ss__item .ss__card .card__image {
  width: 100%;
  height: 320px;
}
#home #ss .ss__content .ss__item .ss__card .card__description {
  position: absolute;
  bottom: -50px;
  left: 30px;
  width: 90.5%;
  background-color: #fff;
  padding: 10px 0 0 20px;
}
#home #ss .ss__content .ss__item .ss__card .card__description p {
  font-size: 16px;
  font-weight: 600;
  height: 50px;
  word-break: break-word;
  margin: 12px 12px 12px 0;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}
#home #ss .ss__content .ss__item .ss__card .card__description span {
  display: block;
  color: #5C6069;
  font-size: 14px;
  font-weight: 400;
  margin: 12px 0;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}
#home #ss .ss__content .ss__item:hover {
  background-color: #F7F7F9;
}
#home #project {
  overflow: hidden;
}
#home #project .project__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#home #project .project__btn {
  border: 1px solid #ED1C24;
  text-decoration: none;
  color: #0C1323;
  padding: 9px 16px;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#home #project .project__btn span {
  font-size: 14px;
  font-weight: 600;
  color: inherit;
}
#home #project .project__btn img {
  margin-left: 14px;
  width: 16px;
}
#home #project .project__slideshow {
  /* Fading animation */
}
#home #project .project__slideshow .fade {
  opacity: 1;
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
#home #project .project__slideshow .project__content {
  margin: 64px 0px 120px 0px;
}
#home #project .project__slideshow .project__content .content__image img {
  width: 650px;
  height: 500px;
}
#home #project .project__slideshow .project__content .content__description .description__action {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#home #project .project__slideshow .project__content .content__description .description__action.responsive {
  display: none;
}
#home #project .project__slideshow .project__content .content__description .description__action .description__number {
  padding: 8px 12px;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  background-color: #F1F2F5;
}
#home #project .project__slideshow .project__content .content__description .description__action .description__image button {
  border: 1px solid #F1F2F5;
}
#home #project .project__slideshow .project__content .content__description .description__action .description__image button img {
  width: 16px;
  height: 16px;
}
#home #project .project__slideshow .project__content .content__description .description__infor .infor__name {
  margin-bottom: 24px;
}
#home #project .project__slideshow .project__content .content__description .description__infor .infor__name .info__title {
  font-size: 24px;
  font-weight: 400;
  color: #0C1323;
  margin-bottom: 12px;
}
#home #project .project__slideshow .project__content .content__description .description__infor .infor__name .info__title a {
  color: inherit;
}
#home #project .project__slideshow .project__content .content__description .description__infor .infor__name .info__description {
  font-size: 14px;
  font-weight: 400;
  color: #5C6069;
}
#home #project .project__slideshow .project__content .content__description .description__infor .infor__service .info__title, #home #project .project__slideshow .project__content .content__description .description__infor .infor__address .info__title {
  font-size: 14px;
  font-weight: 600;
  color: #0C1323;
  margin-bottom: 8px;
}
#home #project .project__slideshow .project__content .content__description .description__infor .infor__service .info__description, #home #project .project__slideshow .project__content .content__description .description__infor .infor__address .info__description {
  font-size: 14px;
  font-weight: 400;
  color: #5C6069;
}
#home #project .project__slideshow .project__content .content__description .description__infor .infor__service {
  margin-bottom: 24px;
}
#home #project .project__slideshow .project__content .content__description .description__infor .project__btn.responsive {
  display: none;
}
#home #product .product__title {
  margin-bottom: 64px;
}
#home #product .product__content {
  margin-bottom: 64px;
}
#home #product .product__content .content__item {
  margin-bottom: 12px;
  border: 1px solid #F1F2F5;
}
#home #product .product__content .content__item img {
  margin-right: 24px;
  width: 120px;
  height: 120px;
}
#home #product .product__content .content__item div {
  height: 100%;
  width: 100%;
  padding: 10px;
}
#home #product .product__content .content__item div span {
  font-size: 16px;
  font-weight: 400;
  color: #0C1323;
}
#home #product .product__action {
  text-align: center;
  margin-bottom: 120px;
}
#home #product .product__action a {
  text-decoration: none;
  color: #0C1323;
  padding: 9px 16px;
  border: 1px solid #ED1C24;
}
#home #product .product__action a span {
  font-size: 14px;
  font-weight: 600;
  color: inherit;
}
#home #product .product__action a img {
  width: 16px;
}

@media (max-width: 1399.98px) {
  #home #project .project__slideshow .project__content .content__image img {
    width: 570px;
    height: 400px;
  }
}
@media (max-width: 1199.98px) {
  #home #project .project__slideshow .project__content .content__image img {
    width: 470px;
    height: 400px;
  }
}
@media (max-width: 991.98px) {
  #home .slider {
    height: 400px;
  }
  #home #project .project__header {
    display: block;
  }
  #home #project .project__header .project__title {
    text-align: center;
  }
  #home #project .project__header .project__btn {
    display: none;
  }
  #home #project .project__slideshow .project__content .content__image img {
    width: 100%;
  }
  #home #project .project__slideshow .project__content > div {
    padding: 0 !important;
    margin-bottom: 10px;
  }
  #home #project .project__slideshow .project__content .content__description .description__action {
    display: none;
  }
  #home #project .project__slideshow .project__content .content__description .description__action.responsive {
    display: block;
    margin: 12px 0 40px 0;
  }
  #home #project .project__slideshow .project__content .content__description .description__action.responsive .description__image {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #home #project .project__slideshow .project__content .content__description .description__infor .project__btn.responsive {
    display: block;
    width: fit-content;
  }
  #home #ss {
    margin-top: 80px;
  }
  #home #ss .ss__content {
    margin-bottom: 80px;
  }
  #home #ss .ss__content .ss__item {
    padding: 8px 8px 8px 8px;
    margin-bottom: 24px;
  }
  #home #ss .ss__content .ss__item .ss__card {
    position: relative;
  }
  #home #ss .ss__content .ss__item .ss__card .card__image {
    width: 100%;
    height: 260px;
  }
  #home #ss .ss__content .ss__item .ss__card .card__description {
    position: unset;
    width: 100%;
    padding: 10px 0;
    margin: 0;
  }
  #home #ss .ss__content .ss__item .ss__card .card__description p {
    font-size: 16px;
    font-weight: 600;
    word-break: break-word;
    margin: 0;
  }
  #home #ss .ss__content .ss__item .ss__card .card__description span {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    margin: 0;
  }
}
@media (max-width: 575.98px) {
  #home #ss .ss__content {
    margin-bottom: 80px;
  }
  #home #ss .ss__content .ss__item {
    margin-bottom: 0;
  }
  #home #ss .ss__content .ss__item .ss__card .card__image {
    height: 166px !important;
  }
  #home #ss .ss__content .ss__item .ss__card .card__description p {
    font-size: 16px;
    font-weight: 600;
    word-break: break-word;
    margin: 12px 0;
  }
  #home #ss .ss__content .ss__item .ss__card .card__description span {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    margin: 0;
  }
}

/*# sourceMappingURL=style.css.map */
