$color-primary: #CE0402;
$color-black: #231F20;
$color-white: #fff;
$color-blue: #0068FF;
$color-gray-bold: #5C6069;
$color-gray-medium: #E0E2E8;
$color-gray-light: #F1F2F5;
$color-gray-ultra-light: #F7F7F9;

