#home {
    #header {
        // background-image: url(../../img/home/banner.JPG);
        background-size: cover;
        height: 100vh;
        -moz-box-shadow: inset 0 150px 100px -100px $color-black;
        -webkit-box-shadow: inset 0 150px 100px -100px $color-black;
        box-shadow: inset 0 150px 100px -100px $color-black;
        position: relative;

        .tool {
            position: absolute;
            bottom: 100px;
            right: 0;
            background-color: $color-black;
            img {
                padding: 10px;
            }
        }

    }

    #introduction {
        height: 540px;
        margin-top: 120px;
        text-align: center;
        .title {
            color: $color-primary;
            font-weight: 600;
            font-size: 32px;
        }
        .thumb {
            width: 200px;
        }
    }
    .slider {
        display: flex;
        justify-content: center;
        text-align: center;
        height: 480px;
        margin-top: 80px;
    }

    .background-section {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        filter: brightness(60%);
    }
    
    #ss {
        margin-top: 120px;
        .ss__content {
            margin-top: 72px;
            .ss__item {
                padding: 8px 8px 60px 8px;
                margin-bottom: 40px;
                .ss__card {
                    position: relative;
                    .card__image {
                        width: 100%;
                        height: 320px;
                    }
                    .card__description {
                        position: absolute;
                        bottom: -50px;
                        left: 30px;
                        width: 90.5%;
                        background-color: $color-white;
                        padding: 10px 0 0 20px;
                        p {
                            font-size: 16px;
                            font-weight: 600;
                            height: 50px;
                            word-break: break-word;
                            margin: 12px 12px 12px 0;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            display: -webkit-box;
                        }
                        span {
                            display: block;
                            color: $color-gray-bold;
                            font-size: 14px;
                            font-weight: 400;
                            margin: 12px 0;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            display: -webkit-box;
                        }
                    }
                }
                &:hover {
                    background-color: $color-gray-ultra-light;
                }
            }
            
        }
    }

    #project {
        overflow: hidden;
        .project__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .project__btn {
            border: 1px solid $color-primary;
            text-decoration: none;
            color: $color-black;
            padding: 9px 16px;
            height: fit-content;
            display: flex;
            justify-content: space-between;
            align-items: center;
            span {
                font-size: 14px;
                font-weight: 600;
                color: inherit;
            }
            img {
                margin-left: 14px;
                width: 16px;
            }
        }
        
        .project__slideshow {
        /* Fading animation */
            .fade {
                opacity: 1;
                animation-name: fade;
                animation-duration: 1.5s;
            }
        
            @keyframes fade {
                from {opacity: .4} 
                to {opacity: 1}
            }

            .project__content {
                margin: 64px 0px 120px 0px;
                    .content__image {
                        img {
                            width: 650px;
                            height: 500px;
                        }
                    }
                    .content__description {
                        .description__action {
                            margin-bottom: 12px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            &.responsive {
                                display: none;
                            }
                            .description__number {
                                padding: 8px 12px;
                                margin: 0;
                                font-size: 14px;
                                font-weight: 400;
                                background-color: $color-gray-light;
                            }
                            .description__image {
                                button {
                                    border: 1px solid #F1F2F5;
                                    img {
                                        width: 16px;
                                        height: 16px;
                                    }
                                }
                            }
                        }

                        .description__infor {
                            .infor__name {
                                margin-bottom: 24px;
                                .info__title {
                                    font-size: 24px;
                                    font-weight: 400;
                                    color: $color-black;
                                    margin-bottom: 12px;
                                    a {
                                        color: inherit;
                                    }
                                }
                                .info__description {
                                    font-size: 14px;
                                    font-weight: 400;
                                    color: $color-gray-bold;
                                }
                            }
                            .infor__service, .infor__address {
                                .info__title {
                                    font-size: 14px;
                                    font-weight: 600;
                                    color: $color-black;
                                    margin-bottom: 8px;
                                }
                                .info__description {
                                    font-size: 14px;
                                    font-weight: 400;
                                    color: $color-gray-bold;
                                }
                            }
                            .infor__service {
                                margin-bottom: 24px;
                            }
                            .project__btn.responsive {
                                display: none;
                            }
                        }
                    }
                }
        }
    }

    #product {
        .product__title {
            margin-bottom: 64px;
        }

        .product__content {
            margin-bottom: 64px;
            .content__item {
                margin-bottom: 12px;
                border: 1px solid $color-gray-light;
                img {
                    margin-right: 24px;
                    width: 120px;
                    height: 120px;
                }
                div {

                    height: 100%;
                    width: 100%;
                    padding: 10px;
                    span {
                        font-size: 16px;
                        font-weight: 400;
                        color: $color-black;
                    }
                }
            }
        }

        .product__action {
            text-align: center;
            margin-bottom: 120px;
            a {
                text-decoration: none;
                color: $color-black;
                padding: 9px 16px;
                border: 1px solid $color-primary;
                span {
                    font-size: 14px;
                    font-weight: 600;
                    color: inherit;
                }
                img {
                    width: 16px;
                }
            }

        }

    }
}

// `xs` returns only a ruleset and no media query
// ... { ... }

// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
    #home {
        #project {
            .project__slideshow {
                .project__content {
                    .content__image {
                        img {
                            width: 570px;
                            height: 400px;
                        }
                    }
                }
            }
        }
    }    
}

// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
    #home {
        #project {
            .project__slideshow {
                .project__content {
                    .content__image {
                        img {
                            width: 470px;
                            height: 400px;
                        }
                    }
                }
            }
        }
    }    
}

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    #home {
        .slider {
            height: 400px;
        }

        #project {
            .project__header {
                display: block;
                .project__title {
                    text-align: center;
                }
                .project__btn {
                    display: none;
                }
            }
            .project__slideshow {
                .project__content {
                    .content__image {
                        img {
                            width: 100%;
                        }
                    }
                    & > div {
                        padding: 0 !important;
                        margin-bottom: 10px;
                    }
                    .content__description {
                        .description__action {
                            display: none;
                            &.responsive {
                                display: block;
                                margin: 12px 0 40px 0;
                                .description__image {
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                }
                            }
                        }
                        .description__infor {
                            .project__btn.responsive {
                                display: block;
                                width: fit-content;
                            }
                        }

                    }

                }
            }

        }
        
        #ss {
            margin-top: 80px;
            .ss__content {
                margin-bottom: 80px;
                .ss__item {
                    padding: 8px 8px 8px 8px;
                    margin-bottom: 24px;
                    .ss__card {
                        position: relative;
                        .card__image {
                            width: 100%;
                            height: 260px;
                        }
                        .card__description {
                            position: unset;
                            width: 100%;
                            padding: 10px 0;
                            margin: 0;
                            p {
                                font-size: 16px;
                                font-weight: 600;
                                word-break: break-word;
                                margin: 0;
                            }
                            span {
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                display: -webkit-box;
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    
}

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    #home {
        #ss {
            .ss__content {
                margin-bottom: 80px;
                .ss__item {
                    margin-bottom: 0;
                    .ss__card {
                        .card__image {
                            height: 166px !important;
                        }
                        .card__description {
                            p {
                                font-size: 16px;
                                font-weight: 600;
                                word-break: break-word;
                                margin: 12px 0;
                            }
                            span {
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                display: -webkit-box;
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}