#header {
    .navbar {
        margin-top: 40px;
        padding: 0;
        .navbar-toggler {
            border: none;
            padding-right: 0;
        }
        .navbar-nav {
            .nav-item {
                &:not(:last-child) {
                    padding-right: 120px;
                }
                .nav-link {
                    font-weight: 400;
                    font-size: 18px;
                    transition: none;
                    &:hover {
                        border-bottom: 3px solid $color-primary;
                    }
                }
            }
        }
    }
}

@media (max-height: 768.98px) {

}

@media screen and (max-width: 1366.98px) and (max-height: 768.98px)  {
    #header {
        .navbar {
            margin-top: 20px;
            padding: 0;
            .navbar-brand {
                img {
                    width: 150px;
                }
            }
            .navbar-nav {
                .nav-item {
                    &:not(:last-child) {
                        padding-right: 70px;
                    }
                    .nav-link {
                        font-weight: 100;
                        font-size: 10px;
                        letter-spacing: 1px;
                        transition: none;
                        &:hover {
                            border-bottom: 3px solid $color-primary;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 992.98px)  {
    #header {
        .navbar {
            .navbar-nav {
                align-items: flex-end;
                .nav-item {
                    &:not(:last-child) {
                        padding-right: 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480.98px)  {
    #header {
        .navbar {
            .navbar-brand {
                img {
                    width: 110px;
                }
            }
            .navbar-nav {
                .nav-item {
                    &:not(:last-child) {
                    }
                    .nav-link {
                        font-weight: 100;
                        font-size: 16px;
                        &:hover {
                            border-bottom: 3px solid $color-primary;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 414.98px)  {

}

@media screen and (max-width: 375.98px)  {

}

@media screen and (max-width: 360.98px)  {

}



// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {

}

// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {

}

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {

}


// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    
}

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {

}

// `xs` returns only a ruleset and no media query
// ... { ... }
