#header {
    .navbar-brand {
        img {
            height: 160px;
        }
    }
    .navbar-nav {
        .nav-item {
            .nav-link {
                font-weight: 400;
                font-size: 16px;
            }
        }
    }
}
